
  <%- include('partials/header.ejs') %>
   
    <div class="login-form">
        <form action="/login" method="POST">
            <div class="form-items">
                <label for="">Email</label>
                <input required name="email" type="email">
            </div>
            <div class="form-items">
                <label for="">Password</label>
                <input required name="password" type="password" id="">
            </div>
            <% if (messages.error) { %>
                <p class="login-error"><%= messages.error %></p>
               <% } %> 
            <button type="submit">Login</button>
        </form>
    </div>
    
    <!-- <div class="container mb-3 mt-3">
        <div class="row">
            <div class="col-6">
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="">Email</label>
                    <input class="form-control" required name="email" type="email">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="">Password</label>
                        <input class="form-control" required name="password" type="password" id="">
                    </div>
                    <% if (messages.error) { %>
                        <%= messages.error %>
                    <% } %> 
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div> -->
    <%- include('partials/footer.ejs') %>
